
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist
dist/
# Env files
.env*
!.env.example

# Dependencies
node_modules/

dist/
dist-ssr/
.next/
out/
build/

# Editor settings (safe to ignore)
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
