@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes bounce-tall {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-12px); /* Increase the bounce height */
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce-tall {
  animation: bounce-tall 1s infinite;
}
